/****** PLACE YOUR CUSTOM STYLES HERE ******/
@media only screen and (max-device-width: 780px) {
  .nav-container {
    min-height: auto !important;
  }

  section.hidden-xs {
    height: 0 !important;
    display: none;
  }

  section.cover.fullscreen.image-bg.overlay {
    height: 800px !important;
  }

  div.nav-container {
    min-height: 0 !important; 
  }
}

.nav-bar a {
  height: auto !important;
}

img.logo {
  min-height: 45px !important;
  padding: 1em !important;
  max-height: auto;
}


