.ubicacion{
	text-align:center;
	img{
		width:100%;
	}
}

.ubicacion--descripcion{
	@include background-opacity($yellow, $opacity: 0.9);
	color:#FFF;
	h1{
		margin:4rem 0 3rem 0;
		color:#FFF;
	}
	p{
		margin-bottom:4rem;
	}
}

.ubicacion--left{
	background:#7a797f;
	color:#FFF;
	height:250px;
	padding:4.7rem;
	box-sizing:border-box;

	h2{
		text-transform: uppercase;
		font-size:1.1rem;
	}
}

.ubicacion--right{
	padding:0;
	height:100%;
}

.ubicacion--map{
	background-color:#cfdfef;
	text-align:center;
}