/****** PLACE YOUR CUSTOM STYLES HERE ******/
@media (min-width: 768px) {
  section.hidden-xs {
    height: 0 !important;
    display: none;
  }

  section.cover.fullscreen.image-bg.overlay {
    height: 800px !important;
  }
}
